body{
    background: rgb(96, 122, 96);
    color: white;
}

.container{
    display: -webkit-flex;
    display: flex;
    -webkit-flow-flow: row wrap;
    flex-flow: row wrap;
}

.column1{
    background: rgb(60, 73, 60);
}
.column2{
   background: rgb(106, 131, 80);
}
.column3{
    background: rgb(60, 73, 100)
}
.column4{
    background: rgb(60, 73, 120)
}
.column5{
   background: rgb(60, 73, 140)
}


.column1,
.column2,
.column3,
.column4,
.column5{
    width: 100%; 
    height: 50px;
}

@media (min-width:600px){
    .column1,
    .column2,
    .column3,
    .column4,
    .column5{
        width: 50%;
    }
}

@media (max-width:800px){
    .column1{width: 60%;}
    .column2{width: 40%;}
    .column3,
    .column4,
    .column5{
        width: 33.33%;
    }
}